<div class="footer">
{% if site.data.social %}
   {% for social in site.data.social %}
     <a href="{{ social.href }}"><i class="{{ social.classes-small }}"></i></a>
   {% endfor %}
{% endif %}


<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="//whaletech.us11.list-manage.com/subscribe/post?u=b8901bfbd5e44ab3e68a4f5ce&amp;id=c0f197269b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
<div class="mc-field-group">
	<input type="email" placeholder="Email Address" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="some-important-stuff" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</form>
<p>
	<div id="mce-responses" class="clear">
		<div class="response error" id="mce-error-response" ></div>
		<div class="response success" id="mce-success-response" ></div>
	</div>
</p>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
<script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>

<!--End mc_embed_signup-->

</div>
