---
layout: default
title: Tags
---
<!--TODO: Tag cloud
<ul >
    {% for tag in site.tags %}{% comment %} add an element like the following for each tag item {% endcomment %}
        <li class="pure-button"><a href="#{{ tag[0] }}">{{ tag[0] }}{% comment %} This is just the tag name {% endcomment %}
        <span>{{ tag[1].size }}</span>{% comment %} This counts the number of posts in a given tag {% endcomment %}
        </a></li>
    {% endfor %}
</ul>
-->
<h2>Tag Archive</h2>
{% for tag in site.tags %}
<h3 id="{{ tag[0] }}">{{ tag[0] }}</h3>
<ul>
    {% for tag_post in tag[1] %}
        {% if tag_post.title != null %}
            {% if page.url == tag_post.url %}
            <li class="active"><a href="#" class="active">{{tag_post.title}}</a></li>
            {% else %}
            <li>{{ tag_post.date | date: "%B %e, %Y" }} &raquo; <a href="{{tag_post.url}}">{{tag_post.title}}</a></li>
            {% endif %}
        {% endif %}
    {% endfor %}
</ul>
{% endfor %}
